<p id="notice"><%= notice %></p>

<h1>Sensors</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">
        Id
      </th>
      <th scope="col">
        Cycles
      </th>
    </tr>
  </thead>

  <tbody>
    <% @sensors.each do |sensor| %>
      <tr>
        <td scope="row">
          <%=sensor.id %>
        </td>
        <td scope="row">
          <%=sensor.cycles %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sensor', new_sensor_path %>
